body{

}
#main{
	background-color: red;
	position: relative;
	height:60%;
	display: flex;
	padding-bottom: 10%;
	padding-left: 15%;
	padding-right: 10%;
	justify-content:space-between;
	background-color: white;
	z-index: -1;
	align-items:center;
	overflow: hidden;
}
#move{
	height: 100px;
	background-color: red;
	position: relative;
	left: -90%;
	overflow: hidden;
}

#photo-div{
	height: 200px;
	width:	200px;
}

#photo{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

#second{
	overflow: hidden;
	background-color: yellow;
}
#third{
	background-color: red;
}
